name: Deploy EC2 via CloudFormation

on:
  push:
    branches: [ "main" ]
    paths:
      - "ec2-with-sg.yaml"   # only trigger when this file changes

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation deploy \
            --template-file ec2-with-sg.yaml \
            --stack-name FeedbackPortalStack \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides KeyName=feedback-key